.notifications {
  margin-bottom: 2rem;

  .notification {
    display: flex;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;

    .fa-minus-circle {
      flex: 1;
      color: $danger;
    }

    .fa-plus-circle {
      flex: 1;
      color: $success;
    }

    div.options {
      flex: 1;
      margin-left: 0.25rem;
    }

    input.options {
      flex: 1;

      padding: 0;
      margin-left: 0.25rem;

      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: black;
    }
  }
}
